<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
    <profile>
      <id>flash-mvn-repo</id>
      <repositories>
        <repository>
          <id>flash-mvn-repo</id>
          <url>http://develar.github.com/flash-mvn-repo/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>flash-mvn-repo</id>
          <url>http://develar.github.com/flash-mvn-repo/</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>

    <profile>
      <id>flex-mojos</id>
      <repositories>
        <repository>
          <id>flex-mojos-repository</id>
          <url>http://repository.sonatype.org/content/groups/flexgroup/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>flex-mojos-plugin-repository</id>
          <url>http://repository.sonatype.org/content/groups/flexgroup/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>flash-mvn-repo</activeProfile>
    <activeProfile>flex-mojos</activeProfile>
  </activeProfiles>
</settings>