type: specs.openrewrite.org/v1beta/recipe
name: com.recipe.first
recipeList:
  - com.recipe.third
  - com.recipe.fourth
---
type: specs.openrewrite.org/v1beta/recipe
name: com.recipe.second
recipeList:
  - com.recipe.third
  - com.recipe.fourth