---
import {Debug} from 'astro/components';
import {Code} from 'astro/components';//Unused import inspection is disabled for now
import Header from 'astro/components';
import Footer from 'astro/components';//Unused import inspection is disabled for now
---
<div>
  <Debug />
  <Header/>
</div>
