title = "my title"
html
    head
        style.
            p
            {  color:blue;
               text-align:center;
               display: inline-block;
             }
             .newCls
             {border-bottom-color: #ff8bda;}
             .someCls
             {color:red}
         h1(data-binding="rethought") Title - #{title}

    script.
        var v = 0;
    zz
