//
   fooo
   bar
     dddddd
    
  

     
   zzzz
    xxxxx
     yyyyy
      wwwww wwww www
       pppppp
        sddd
    dddd
   sss
  uuuu
 xxxxx

pageTitle = "my title"
foo = true
- var bar = function () {return "something";}
foobar = 2
zoo = 5
// some comment
doctype 5
html(lang='en')
    head
        title= pageTitle
        -if (foo)
        h1.someClass #{bar()}
        style(type="text/css").
            .someClass {
                                  color: #37b552;
                                  border-color: #c2f7fe;
                                  text-align:center;
                        }
             .marked p
                    {
                        color:white;
                    }

        script.
            function two() {
                // stuff
                // stuff
            }


    body
        h1.someClass Jade - node template engine
        #container
            |dfefef
            | erftrgfr
            |sdfverdgr5g