//
   Created with JetBrains PhpStorm.
   Date: 8/27/12
   Time: 2:10 PM
   To change this template use File | Settings | File Templates.

doctype 5
html(lang="en")
    head
        title= pageTitle
        script(type='text/javascript').
            if (foo) {
                bar()
            }
    body
        h1 Jade - node template engine
        #container
            if youAreUsingJade
                p You are amazing
            else
                p Get on it!


