html
   head
      style.
         .<info textAttributesKey="CSS.CLASS_NAME">class1</info> {
            font-weight: 600;
         }

         .<info textAttributesKey="CSS.CLASS_NAME">class2</info> {
            font-weight: 700;
         }

         .<info textAttributesKey="CSS.CLASS_NAME">class3</info> {
            font-weight: 800;
         }

         .<info textAttributesKey="CSS.CLASS_NAME">class4</info> {
            font-weight: 900;
         }

         .<info textAttributesKey="CSS.CLASS_NAME">class5</info> {
            font-weight: 100;
         }

         #id_id {

         }

   body
      div.class4#id_id.class5(class="class3")
      div.class2.class1