// This is a comment with some <TYPO descr="Typo: In word 'mstks'">mstks</TYPO>

//- Ths is <TYPO descr="Typo: In word 'anthre'">anthre</TYPO> comment with <TYPO descr="Typo: In word 'mistks'">mistks</TYPO>

div
   | This is a <TYPO descr="Typo: In word 'pped'">pped</TYPO> text

   div This is a nt <TYPO descr="Typo: In word 'pped'">pped</TYPO> <TYPO descr="Typo: In word 'txet'">txet</TYPO>