<div *ngFor="let item of <warning descr="Type number is not assignable to type NgIterable<T> | QueryList<T>">myNumber</warning>"></div>

<div *ngFor="let item of myArray; trackBy: <warning descr="Type (items: string) => string is not assignable to type TrackByFunction<string>">myBadFunction</warning>"></div>
<ng-template ngFor [ngForOf]="myArray" [ngForTrackBy]="<warning descr="Type (items: string) => string is not assignable to type TrackByFunction<string>">myBadFunction</warning>" let-item></ng-template>

<div *ngFor="let item of <warning descr="Type Array<string> is not assignable to type NgIterable<never> | QueryList<never>">myList</warning>; trackBy: myAnotherFunction"></div>

<div *ngFor="let item of myArray; trackBy: myOkFunction"></div>
<ng-template ngFor [ngForOf]="myArray" [ngForTrackBy]="myOkFunction" let-item></ng-template>

<div *ngIf="true; extra: 12; super: 12"></div>
<ng-template [ngIf]="true" [ngIfExtra]="12" [ngIfSuper]="12"></ng-template>

<div *ngIf="true; extra: <warning descr="Type 12 is not assignable to type never">12</warning>; super: <warning descr="Type \"ee\" is not assignable to type never">'ee'</warning>"></div>
<ng-template [ngIf]="true" [ngIfExtra]="<warning descr="Type 12 is not assignable to type never">12</warning>" [ngIfSuper]="<warning descr="Type \"ee\" is not assignable to type never">'ee'</warning>"></ng-template>

<div *ngIf="true; then <warning descr="Type string is not assignable to type TemplateRef<NgIfContext> | null">myThen</warning>; else myElse"></div>

<ng-template #templateRef></ng-template>
<div *ngIf="false; else templateRef"></div>
<div *ngIf="false; number: <warning descr="Type TemplateRef<any> is not assignable to type number">templateRef</warning>"></div>

<div comp #compRef></div>
<div *ngIf="false; number: <warning descr="Type MyCustomComponent is not assignable to type number">compRef</warning>"></div>

<div #divRef></div>
<div *ngIf="false; else <warning descr="Type HTMLDivElement is not assignable to type TemplateRef<NgIfContext> | null">divRef</warning>"></div>

<div dir #dirRef="dir"></div>
<div *ngIf="false; number: <warning descr="Type MyDirective is not assignable to type number">dirRef</warning>"></div>
