{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Resources" : {
    "MyFrontEndTest" : {
      "Type": "Custom::A",
      "Version" : "1.0",
      "Properties" : {
        "key1" : "string"
      }
    }
  }
}