{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "desc",
  "Parameters": {
  },

  "Resources": {
    "NEW_NAME": {
      "Type": "AWS::IAM::User",
    },

    "WebServerKeys": {
      "Type": "AWS::IAM::AccessKey",
      "Properties": {
        "UserName": {
          "Ref": "NEW_NAME"
        }
      }
    }
  },

  "Outputs": {
  }
}
