:dis<warning descr="Top level ruleset selector should not contain '&'">&</warning>bled{}
a {
  <warning descr="Nested ruleset selector should start with '@nest'">:dis&bled</warning>{}
  @nest :dis&bled{}
  <warning descr="Nested ruleset selector should start with '&'">:disabled</warning>{}
}