a{
  <warning descr="Nested ruleset selector should start with '&'">h1</warning>, :&fter{}
  <warning descr="Nested ruleset selector should start with '@nest'">div p&</warning>{}
  <warning descr="Nested ruleset selector should start with '@nest'">div > &</warning>{}
  <warning descr="Nested ruleset selector should start with '&'">h</warning>{
    <warning descr="Nested ruleset selector should start with '@nest'">ul + &3</warning>{}
  }
  <warning descr="Nested ruleset selector should start with '@nest'">ul ~ t&ble</warning>{}
  <warning descr="Nested ruleset selector should start with '@nest'">*&</warning>{}
}