#Last<warning descr="Top level ruleset selector should not contain '&'">&</warning>name{}
a{<warning descr="Nested ruleset selector should start with '@nest'">#Lastn&me</warning>{}}
a{& #Lastn&me{}}
a{@nest #Lastn&me{}}
a{@nest <warning descr="Nested ruleset selector should contain '&'">#Lastnme</warning>{}}
