<warning descr="Top level ruleset selector should not contain '&'">&</warning> h2 {
    color: white;
}

<warning descr="Top level ruleset selector should not contain '@nest'">@nest</warning> h2 <warning descr="Top level ruleset selector should not contain '&'">&</warning> {
    color: white;
}