---
import {Debug} from 'astro/components';
import {Code} from 'astro/components'
import {Image} from 'astro:assets';
import ViewTransition from "astro:transitions"
import {navigate} from "astro:transitions/client";
//import CheckBuildComponent from "./CheckBuildComponent.astro";

---
<div>
    <Image src="" alt="Astro"/>
</div>

<CheckBuildComponent/>