{{! this is a one line comment }}
{{!-- this is a one line block comment --}}

{{!<fold text='...'>
    this is a multi-line comment
</fold>}}

{{!<fold text='...'>--
    {{#foo}}
        {{bar}}
        <ul>
            <li>

            </li>
        </ul>
    {{/foo}}
--</fold>}}

{{!
    this is an unclosed comment