div {
  border-width: 1px;
  margin: 1rem 2lvmax 3cm 4cqmax;
  grid-template-columns: 1fr;
  voice-volume: 2dB;
  voice-pitch: 1st;
  animation-delay: 150ms;
  transform: rotate(3.1416rad);
}

a {
  voice-pitch: +250Hz;
}

@media print and (min-resolution: 300dpi) {}
