{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "desc",
  "Outputs": {
  },

  "Resources": {
    "PeeringRoute": {
      "Type": "AWS::EC2::Route",
      "Properties": {
        "DestinationCidrBlock": "SomeCidr",
        "RouteTableId": "Someroutetable",
        "VpcPeeringConnectionId": "XXX"
      }
    }
  }
}
