script.
  aaa
   bb
  cc
 dd


style.
  a
  b
  #{foo}

style. foo
  aa
   bb
  cc
 dd

script.
 // aa
 bb

title = "my title"
html
  head
    style.
      p
      {
          color:blue;
          text-align:center;
          display: inline-block;
      }
      .newCls
      {}
      .someCls {color:red}