script(type="text/coffeescript").
    math = x ->
        x * x;

    console.log("!")
    console.log("!")
    console.log "!"
    if (1)
        console.log("!")
    else
        console.log "?"

:coffeescript
  math = x ->
      x * x;

  console.log("!")
  console.log("!")
  console.log "!"
  if (1)
      console.log("!")
  else
      console.log "?"
