block content
    -
        yes = '<img src="images/ok.png" />';
        no = '<img src="images/cross.png" />';
        list = [
            ['', 'Premium', 'VIP', 'Moderator', 'Administrator'],
            ['Premium<br><code>/kit premium</code>', yes, no, no, no],
            ['VIP<br><code>/kit vip</code>', no, yes, yes, yes]
        ];