{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "desc",
  "Parameters": {
    "WebServerInstanceType": {
      "Description": "WebServer EC2 instance type",
      "Type": "String",
      "Default": "m1.small",
      "AllowedValues": [ "t1.micro", "m1.small", "m1.medium", "m1.large", "m1.xlarge", "m2.xlarge", "m2.2xlarge", "m2.4xlarge", "c1.medium",
        "c1.xlarge", "cc1.4xlarge", "cc2.8xlarge", "cg1.4xlarge"],
      "ConstraintDescription": "must be a valid EC2 instance type."
    }
  },

  "Resources": {
    "WebServerUser1": {
      "Type": "AWS::IAM::User"
    },

    "WebServerUser2": {
      "Type": "AWS::IAM::User",
      "Properties": {
        "DependsOn": "WebServerUser1",
      }
    },

    "WebServerKeys": {
      "Type": "AWS::IAM::AccessKey",
      "DependsOn": [ "WebSer<ref>verUser1", "W<ref>ebServerUser2"],
      "Properties": {
        "DependsOn": [ "WebServerUser1", "WebServerUser2"],
      }
    }
  },

  "Outputs": {
  }
}
