{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "desc",
  "Parameters": {
  },

  "Resources": {
    "WebServerUser": {
      "Type": "AWS::IAM::User",
    },

    "WebServerKeys": {
      "Type": "AWS::IAM::AccessKey",
      "Properties": {
        "UserName": {
          "Fn::GetAtt": ["Web<ref>ServerUser", "SecretAccessKey"]
        }
      }
    }
  },

  "Outputs": {
  }
}
