#a<warning descr="Top level ruleset selector should not contain '&'">&</warning>s<warning descr="Top level ruleset selector should not contain '&'">&</warning>dsads, div > :lan<warning descr="Top level ruleset selector should not contain '&'">&</warning>g(it) {}