class Fred
  # The initialize method is the constructor.  The @val is
  # an object value.
  def initialize(v)
    @val = v
  end

  # Set it and get it.
  def set(v)
    @val = v
  end

  def get
    @val
  end

  def print
    puts 'v:'
    puts @val<caret>
  end
end
