{
  "AWSTemplateFormatVersion" : "2010-09-09",

  "Description" : "AWS CloudFormation Sample Template WordPress_Single_Instance: WordPress is web software you can use to create a beautiful website or blog. This template installs WordPress with a local MySQL database for storage. It demonstrates using the AWS CloudFormation bootstrap scripts to deploy WordPress. **WARNING** This template creates an Amazon EC2 instance. You will be billed for the AWS resources used if you create a stack from this template.",

  "Parameters" : {

    "KeyName": {
      "Description" : "Name of an existing EC2 KeyPair to enable SSH access to the instances",
      "Type": "AWS::EC2::KeyPair::KeyName",
      "ConstraintDescription" : "must be the name of an existing EC2 KeyPair."
    },

    "InstanceType" : {
      "Description" : "WebServer EC2 instance type",
      "Type" : "String",
      "Default" : "t3.large",
      "AllowedValues" : [  "a1.medium", "a1.large", "a1.xlarge", "a1.2xlarge", "a1.4xlarge", 
    "c5.large", "c5.xlarge", "c5.2xlarge", "c5.4xlarge", "c5.9xlarge", "c5.18xlarge",
    "t3.micro", "t3.small", "t3.medium", "t3.large", "t3.xlarge", "t3.2xlarge",
    "m5.large", "m5.xlarge", "m5.2xlarge", "m5.4xlarge", "m5.12xlarge", "m5.24xlarge",
    "r5.large", "r5.xlarge", "r5.2xlarge", "r5.4xlarge", "r5.12xlarge", "r5.24xlarge",
    "m5a.large", "m5a.xlarge", "m5a.2xlarge", "m5a.4xlarge", "m5a.12xlarge", "m5a.24xlarge",
    "r5a.large", "r5a.xlarge", "r5a.2xlarge", "r5a.4xlarge", "r5a.12xlarge", "r5a.24xlarge" ]

,
      "ConstraintDescription" : "must be a valid EC2 instance type."
    },

    "SSHLocation": {
      "Description": "The IP address range that can be used to SSH to the EC2 instances",
      "Type": "String",
      "MinLength": "9",
      "MaxLength": "18",
      "Default": "0.0.0.0/0",
      "AllowedPattern": "(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})/(\\d{1,2})",
      "ConstraintDescription": "must be a valid IP CIDR range of the form x.x.x.x/x."
    },

    "DBName" : {
      "Default": "wordpressdb",
      "Description" : "The WordPress database name",
      "Type": "String",
      "MinLength": "1",
      "MaxLength": "64",
      "AllowedPattern" : "[a-zA-Z][a-zA-Z0-9]*",
      "ConstraintDescription" : "must begin with a letter and contain only alphanumeric characters."
    },

    "DBUser" : {
      "NoEcho": "true",
      "Description" : "The WordPress database admin account username",
      "Type": "String",
      "MinLength": "1",
      "MaxLength": "16",
      "AllowedPattern" : "[a-zA-Z][a-zA-Z0-9]*",
      "ConstraintDescription" : "must begin with a letter and contain only alphanumeric characters."
    },

    "DBPassword" : {
      "NoEcho": "true",
      "Description" : "The WordPress database admin account password",
      "Type": "String",
      "MinLength": "8",
      "MaxLength": "41",
      "AllowedPattern" : "[a-zA-Z0-9]*",
      "ConstraintDescription" : "must contain only alphanumeric characters."
    },

    "DBRootPassword" : {
      "NoEcho": "true",
      "Description" : "MySQL root password",
      "Type": "String",
      "MinLength": "8",
      "MaxLength": "41",
      "AllowedPattern" : "[a-zA-Z0-9]*",
      "ConstraintDescription" : "must contain only alphanumeric characters."
    }
  },

  "Mappings" : {
    "AWSInstanceType2Arch" : {
      "a1.medium"     : { "Arch" : "AL2arm64" },
      "a1.large"      : { "Arch" : "AL2arm64" },
      "a1.xlarge"     : { "Arch" : "AL2arm64" },
      "a1.2xlarge"    : { "Arch" : "AL2arm64" },
      "a1.4xlarge"    : { "Arch" : "AL2arm64" },
      "t3.micro"      : { "Arch" : "AL2x86"  },
      "t3.small"      : { "Arch" : "AL2x86"  },
      "t3.medium"     : { "Arch" : "AL2x86"  },
      "t3.large"      : { "Arch" : "AL2x86"  },
      "t3.xlarge"     : { "Arch" : "AL2x86"  },
      "t3.2xlarge"    : { "Arch" : "AL2x86"  },
      "c5.large"      : { "Arch" : "AL2x86"  },
      "c5.xlarge"     : { "Arch" : "AL2x86"  },
      "c5.2xlarge"    : { "Arch" : "AL2x86"  },
      "c5.4xlarge"    : { "Arch" : "AL2x86"  },
      "c5.9xlarge"    : { "Arch" : "AL2x86"  },
      "c5.18xlarge"   : { "Arch" : "AL2x86"  },
      "m5.large"      : { "Arch" : "AL2x86"  },
      "m5.xlarge"     : { "Arch" : "AL2x86"  },
      "m5.2xlarge"    : { "Arch" : "AL2x86"  },
      "m5.4xlarge"    : { "Arch" : "AL2x86"  },
      "m5.12xlarge"   : { "Arch" : "AL2x86"  },
      "m5.24xlarge"   : { "Arch" : "AL2x86"  },
      "r5.large"      : { "Arch" : "AL2x86"  },
      "r5.xlarge"     : { "Arch" : "AL2x86"  },
      "r5.2xlarge"    : { "Arch" : "AL2x86"  },
      "r5.4xlarge"    : { "Arch" : "AL2x86"  },
      "r5.12xlarge"   : { "Arch" : "AL2x86"  },
      "r5.24xlarge"   : { "Arch" : "AL2x86"  },
      "m5a.large"     : { "Arch" : "AL2x86"  },
      "m5a.xlarge"    : { "Arch" : "AL2x86"  },
      "m5a.2xlarge"   : { "Arch" : "AL2x86"  },
      "m5a.4xlarge"   : { "Arch" : "AL2x86"  },
      "m5a.12xlarge"  : { "Arch" : "AL2x86"  },
      "m5a.24xlarge"  : { "Arch" : "AL2x86"  },
      "r5a.large"     : { "Arch" : "AL2x86"  },
      "r5a.xlarge"    : { "Arch" : "AL2x86"  },
      "r5a.2xlarge"   : { "Arch" : "AL2x86"  },
      "r5a.4xlarge"   : { "Arch" : "AL2x86"  },
      "r5a.12xlarge"  : { "Arch" : "AL2x86"  },
      "r5a.24xlarge"  : { "Arch" : "AL2x86"  }
    },


    "AWSRegionArch2AMI" : {
      "af-south-1"       : {"AL2x86" : "ami-0cec12e29ebe3f0d5", "AL2arm64" : "ami-0278bd8e5bd4a50fc"},
      "ap-east-1"        : {"AL2x86" : "ami-814d0ff0", "AL2arm64" : "ami-6e490b1f"},
      "ap-northeast-1"   : {"AL2x86" : "ami-0ce107ae7af2e92b5", "AL2arm64" : "ami-05f4d5a411fcc68e0"},
      "ap-northeast-2"   : {"AL2x86" : "ami-03b42693dc6a7dc35", "AL2arm64" : "ami-08955c72e4bf1b0bd"},
      "ap-northeast-3"   : {"AL2x86" : "ami-024125eb5035fd485", "AL2arm64" : "ami-02feb1749b9a07e17"},
      "ap-south-1"       : {"AL2x86" : "ami-0e306788ff2473ccb", "AL2arm64" : "ami-001e484a60bb07f8d"},
      "ap-southeast-1"   : {"AL2x86" : "ami-015a6758451df3cb9", "AL2arm64" : "ami-006eccfc9e6f597af"},
      "ap-southeast-2"   : {"AL2x86" : "ami-0f96495a064477ffb", "AL2arm64" : "ami-0da8269b3b0487036"},
      "ca-central-1"     : {"AL2x86" : "ami-0c2f25c1f66a1ff4d", "AL2arm64" : "ami-09ad96707b4cba4bf"},
      "cn-north-1"       : {"AL2x86" : "ami-0f30329b403b2cd2f", "AL2arm64" : "NOT_SUPPORTED"},
      "cn-northwest-1"   : {"AL2x86" : "ami-0b9e03ed3ef793940", "AL2arm64" : "NOT_SUPPORTED"},
      "eu-central-1"     : {"AL2x86" : "ami-00a205cb8e06c3c4e", "AL2arm64" : "ami-0af7b869ea29400e8"},
      "eu-north-1"       : {"AL2x86" : "ami-0653812935d0743fe", "AL2arm64" : "ami-0a004e452085cf147"},
      "eu-south-1"       : {"AL2x86" : "ami-0759301b88845d121", "AL2arm64" : "ami-01959eb28c38d03ac"},
      "eu-west-1"        : {"AL2x86" : "ami-0bb3fad3c0286ebd5", "AL2arm64" : "ami-036559f6f83de21be"},
      "eu-west-2"        : {"AL2x86" : "ami-0a669382ea0feb73a", "AL2arm64" : "ami-07484ee100d51a201"},
      "eu-west-3"        : {"AL2x86" : "ami-0de12f76efe134f2f", "AL2arm64" : "ami-05d465f81e4a520d4"},
      "me-south-1"       : {"AL2x86" : "ami-08155c9ee8b845e35", "AL2arm64" : "ami-08a18837331e6f93f"},
      "sa-east-1"        : {"AL2x86" : "ami-02898a1921d38a50b", "AL2arm64" : "ami-0259655fbb765ecc8"},
      "us-east-1"        : {"AL2x86" : "ami-0947d2ba12ee1ff75", "AL2arm64" : "ami-007a607c4abd192db"},
      "us-east-2"        : {"AL2x86" : "ami-03657b56516ab7912", "AL2arm64" : "ami-023b120e01f4779c1"},
      "us-west-1"        : {"AL2x86" : "ami-0e4035ae3f70c400f", "AL2arm64" : "ami-026860fee24856fc0"},
      "us-west-2"        : {"AL2x86" : "ami-0528a5175983e7f28", "AL2arm64" : "ami-0476b0c0bd036545d"}
    }

  },

  "Resources" : {
    "WebServerSecurityGroup" : {
      "Type" : "AWS::EC2::SecurityGroup",
      "Properties" : {
        "GroupDescription" : "Enable HTTP access via port 80 locked down to the load balancer + SSH access",
        "SecurityGroupIngress" : [
          {"IpProtocol" : "tcp", "FromPort" : "80", "ToPort" : "80", "CidrIp" : "0.0.0.0/0"},
          {"IpProtocol" : "tcp", "FromPort" : "22", "ToPort" : "22", "CidrIp" : { "Ref" : "SSHLocation"}}
        ]
      }
    },

    "WebServer": {
      "Type" : "AWS::EC2::Instance",
      "Metadata" : {
        "AWS::CloudFormation::Init" : {
          "configSets" : {
            "wordpress_install" : ["install_cfn", "setup_extras", "install_wordpress", "configure_wordpress" ]
          },
          "install_cfn" : {
            "files": {
              "/etc/cfn/cfn-hup.conf": {
                "content": { "Fn::Join": [ "", [
                  "[main]\n",
                  "stack=", { "Ref": "AWS::StackId" }, "\n",
                  "region=", { "Ref": "AWS::Region" }, "\n"
                ]]},
                "mode"  : "000400",
                "owner" : "root",
                "group" : "root"
              },
              "/etc/cfn/hooks.d/cfn-auto-reloader.conf": {
                "content": { "Fn::Join": [ "", [
                  "[cfn-auto-reloader-hook]\n",
                  "triggers=post.update\n",
                  "path=Resources.WebServer.Metadata.AWS::CloudFormation::Init\n",
                  "action=/opt/aws/bin/cfn-init -v ",
                          "         --stack ", { "Ref" : "AWS::StackName" },
                          "         --resource WebServer ",
                          "         --configsets wordpress_install ",
                          "         --region ", { "Ref" : "AWS::Region" }, "\n"
                ]]},
                "mode"  : "000400",
                "owner" : "root",
                "group" : "root"
              }
            },
            "services" : {
              "sysvinit" : {
                "cfn-hup" : { "enabled" : "true", "ensureRunning" : "true",
                              "files" : ["/etc/cfn/cfn-hup.conf", "/etc/cfn/hooks.d/cfn-auto-reloader.conf"] }
              }
            }
          },

          "setup_extras" : {
            "commands" : {
              "01_setup_extras" : {
                "command" : "amazon-linux-extras install lamp-mariadb10.2-php7.2"
              }
            }
          },

          "install_wordpress" : {
            "packages" : {
              "yum" : {
                "php"            : [],
                "mariadb-server" : [],
                "httpd"          : []
              }
            },

            "sources" : {
              "/var/www/html" : "http://wordpress.org/latest.tar.gz"
            },
            "files" : {
              "/tmp/setup.mysql" : {
                "content" : { "Fn::Join" : ["", [
                  "CREATE DATABASE ", { "Ref" : "DBName" }, ";\n",
                  "CREATE USER '", { "Ref" : "DBUser" }, "'@'localhost' IDENTIFIED BY '", { "Ref" : "DBPassword" }, "';\n",
                  "GRANT ALL ON ", { "Ref" : "DBName" }, ".* TO '", { "Ref" : "DBUser" }, "'@'localhost';\n",
                  "FLUSH PRIVILEGES;\n"
                ]]},
                "mode"  : "000400",
                "owner" : "root",
                "group" : "root"
              },

              "/tmp/create-wp-config" : {
                "content" : { "Fn::Join" : [ "", [
                  "#!/bin/bash -xe\n",
                  "cp /var/www/html/wordpress/wp-config-sample.php /var/www/html/wordpress/wp-config.php\n",
                  "sed -i \"s/'database_name_here'/'",{ "Ref" : "DBName" }, "'/g\" wp-config.php\n",
                  "sed -i \"s/'username_here'/'",{ "Ref" : "DBUser" }, "'/g\" wp-config.php\n",
                  "sed -i \"s/'password_here'/'",{ "Ref" : "DBPassword" }, "'/g\" wp-config.php\n"
                ]]},
                "mode" : "000500",
                "owner" : "root",
                "group" : "root"
              }
            },
            "services" : {
              "sysvinit" : {
                "httpd"  : { "enabled" : "true", "ensureRunning" : "true" },
                "mariadb" : { "enabled" : "true", "ensureRunning" : "true" }
              }
            }
          },

          "configure_wordpress" : {
            "commands" : {
              "01_set_mysql_root_password" : {
                "command" : { "Fn::Join" : ["", ["mysqladmin -u root password '", { "Ref" : "DBRootPassword" }, "'"]]},
                "test" : { "Fn::Join" : ["", ["$(mysql ", { "Ref" : "DBName" }, " -u root --password='", { "Ref" : "DBRootPassword" }, "' >/dev/null 2>&1 </dev/null); (( $? != 0 ))"]]}
              },
              "02_create_database" : {
                "command" : { "Fn::Join" : ["", ["mysql -u root --password='", { "Ref" : "DBRootPassword" }, "' < /tmp/setup.mysql"]]},
                "test" : { "Fn::Join" : ["", ["$(mysql ", { "Ref" : "DBName" }, " -u root --password='", { "Ref" : "DBRootPassword" }, "' >/dev/null 2>&1 </dev/null); (( $? != 0 ))"]]}
              },
              "03_configure_wordpress" : {
                "command" : "/tmp/create-wp-config",
                "cwd" : "/var/www/html/wordpress"
              }
            }
          }
        }
      },
      "Properties": {
        "ImageId" : { "Fn::FindInMap" : [ "AWSRegionArch2AMI", { "Ref" : "AWS::Region" },
                          { "Fn::FindInMap" : [ "AWSInstanceType2Arch", { "Ref" : "InstanceType" }, "Arch" ] } ] },
        "InstanceType"   : { "Ref" : "InstanceType" },
        "SecurityGroups" : [ {"Ref" : "WebServerSecurityGroup"} ],
        "KeyName"        : { "Ref" : "KeyName" },
        "UserData" : { "Fn::Base64" : { "Fn::Join" : ["", [
                       "#!/bin/bash -xe\n",
                       "yum update -y aws-cfn-bootstrap\n",

                       "/opt/aws/bin/cfn-init -v ",
                       "         --stack ", { "Ref" : "AWS::StackName" },
                       "         --resource WebServer ",
                       "         --configsets wordpress_install ",
                       "         --region ", { "Ref" : "AWS::Region" }, "\n",

                       "/opt/aws/bin/cfn-signal -e $? ",
                       "         --stack ", { "Ref" : "AWS::StackName" },
                       "         --resource WebServer ",
                       "         --region ", { "Ref" : "AWS::Region" }, "\n"
        ]]}}
      },
      "CreationPolicy" : {
        "ResourceSignal" : {
          "Timeout" : "PT15M"
        }
      }
    }
  },

  "Outputs" : {
    "WebsiteURL" : {
      "Value" : { "Fn::Join" : ["", ["http://", { "Fn::GetAtt" : [ "WebServer", "PublicDnsName" ]}, "/wordpress" ]]},
      "Description" : "WordPress Website"
    }
  }
}
