title = "my title"
html
    head.z220
        style.
            p {
                color: blue;
                text-align: center;
                display: inline-block;
            }

            .z220 {
                border-bottom-color: #ff8bda;
            }

            .someCls {
                color: red
            }
        h1(data-binding="rethought").z220 Title - #{title}
        div(attr1="value1" + value2 class="z220")
