title = "my title"
html
    head.qe45
        style.
            p {
                color: blue;
                text-align: center;
                display: inline-block;
            }

            .qe<caret>45 {
                border-bottom-color: #ff8bda;
            }

            .someCls {
                color: red
            }
        h1(data-binding="rethought").qe45 Title - #{title}
        div(attr1="value1" + value2 class="qe45")
