{
  "AWSTemplateFormatVersion": "2010-09-09",

  "Description": "AWS CloudFormation Sample Template ElasticBeanstalk_Simple: Configure and launch an AWS Elastic Beanstalk application that connects to an Amazon RDS database instance. Monitoring is setup on the database. **WARNING** This template creates one or more Amazon EC2 instances and an Amazon Relational Database Service database instance. You will be billed for the AWS resources used if you create a stack from this template.",

  "Parameters": {

    "DatabaseUser": {
      "Default": "admin",
      "NoEcho": "true",
      "Type": "String",
      "Description": "Test database admin account name",
      "MinLength": "1",
      "MaxLength": "16",
      "AllowedPattern": "[a-zA-Z][a-zA-Z0-9]*",
      "ConstraintDescription": "must begin with a letter and contain only alphanumeric characters."
    },

    "DatabasePassword": {
      "Default": "password",
      "NoEcho": "true",
      "Type": "String",
      "Description": "Test database admin account password",
      "MinLength": "8",
      "MaxLength": "41",
      "AllowedPattern": "[a-zA-Z0-9]*",
      "ConstraintDescription": "must contain only alphanumeric characters."
    },

    "OperatorEmail": {
      "Default": "nobody@amazon.com",
      "Description": "Email address to notify if there are any operational issues",
      "Type": "String"
    }
  },

  "Resources": {
    "SampleApplication": {
      "Type": "AWS::ElasticBeanstalk::Application",
      "Properties": {
        "Description": "AWS Elastic Beanstalk Sample Application",
        "ApplicationVersions": [{
          "VersionLabel": "Initial Version",
          "Description": "Version 1.0",
          "SourceBundle": {
            "S3Bucket": {
              "Fn::Join": ["-", ["cloudformation-samples", {
                "Ref": "AWS::Region"
              }]]
            },
            "S3Key": "CloudFormationBeanstalkRDSExample.war"
          }
        }],
        "ConfigurationTemplates": [{
          "TemplateName": "DefaultConfiguration",
          "Description": "Default Configuration Version 1.0 - with SSH access",
          "SolutionStackName": "64bit Amazon Linux running Tomcat 7",
          "OptionSettings": [{
            "Namespace": "aws:elasticbeanstalk:application:environment",
            "OptionName": "JDBC_CONNECTION_STRING",
            "Value": {
              "Fn::Join": ["", ["jdbc:mysql://", {
                  "Fn::GetAtt": ["SampleDB", "Endpoint.Address"]
                },
                ":", {
                  "Fn::GetAtt": ["SampleDB", "Endpoint.Port"]
                },
                "/beanstalkdb"
              ]]
            }
          }, {
            "Namespace": "aws:elasticbeanstalk:application:environment",
            "OptionName": "PARAM1",
            "Value": {
              "Ref": "DatabaseUser"
            }
          }, {
            "Namespace": "aws:elasticbeanstalk:application:environment",
            "OptionName": "PARAM2",
            "Value": {
              "Ref": "DatabasePassword"
            }
          }, {
            "Namespace": "aws:autoscaling:launchconfiguration",
            "OptionName": "SecurityGroups",
            "Value": {
              "Ref": "InstanceSecurityGroup"
            }
          }]
        }]
      }
    },

    "SampleEnvironment": {
      "Type": "AWS::ElasticBeanstalk::Environment",
      "Properties": {
        "ApplicationName": {
          "Ref": "SampleApplication"
        },
        "Description": "AWS Elastic Beanstalk Environment running Sample Application",
        "TemplateName": "DefaultConfiguration",
        "VersionLabel": "Initial Version"
      }
    },

    "InstanceSecurityGroup": {
      "Type": "AWS::EC2::SecurityGroup",
      "Properties": {
        "GroupDescription": "RDS allows ingress from EC2 instances in this group.",
        "SecurityGroupIngress": []
      }
    },

    "DBSecurityGroup": {
      "Type": "AWS::RDS::DBSecurityGroup",
      "Properties": {
        "DBSecurityGroupIngress": [{
          "EC2SecurityGroupName": {
            "Ref": "InstanceSecurityGroup"
          }
        }],
        "GroupDescription": "database access"
      }
    },

    "SampleDB": {
      "Type": "AWS::RDS::DBInstance",
      "Properties": {
        "Engine": "MySQL",
        "DBName": "beanstalkdb",
        "MasterUsername": {
          "Ref": "DatabaseUser"
        },
        "DBInstanceClass": "db.m1.small",
        "DBSecurityGroups": [{
          "Ref": "DBSecurityGroup"
        }],
        "AllocatedStorage": "5",
        "MasterUserPassword": {
          "Ref": "DatabasePassword"
        }
      }
    },

    "AlarmTopic": {
      "Type": "AWS::SNS::Topic",
      "Properties": {
        "Subscription": [{
          "Endpoint": {
            "Ref": "OperatorEmail"
          },
          "Protocol": "email"
        }]
      }
    },

    "CPUAlarmHigh": {
      "Type": "AWS::CloudWatch::Alarm",
      "Properties": {
        "EvaluationPeriods": "10",
        "Statistic": "Average",
        "Threshold": "50",
        "AlarmDescription": "Alarm if CPU too high or metric disappears indicating the RDS database instance is having issues",
        "Period": "60",
        "Namespace": "AWS/RDS",
        "MetricName": "CPUUtilization",
        "Dimensions": [{
          "Name": "DBInstanceIdentifier",
          "Value": {
            "Ref": "SampleDB"
          }
        }],
        "ComparisonOperator": "GreaterThanThreshold",
        "AlarmActions": [{
          "Ref": "AlarmTopic"
        }],
        "InsufficientDataActions": [{
          "Ref": "AlarmTopic"
        }]
      }
    }
  },

  "Outputs": {
    "URL": {
      "Description": "URL of the AWS Elastic Beanstalk Environment",
      "Value": {
        "Fn::Join": ["", ["http://", {
          "Fn::GetAtt": ["SampleEnvironment", "EndpointURL"]
        }]]
      }
    }
  }
}
