html
    head.<caret>
        style.
            p {
                color: blue;
                text-align: center;
                display: inline-block;
            }

            .qe45 {
                border-bottom-color: #ff8bda;
            }

            .someCls {
                color: red
            }
