// Copyright 2000-2023 JetBrains s.r.o. and contributors. Use of this source code is governed by the Apache 2.0 license.

<info textAttributesKey="POST_CSS_TAG_NAME">div</info>.<info textAttributesKey="POST_CSS_CLASS_NAME">test</info> {
  & <info textAttributesKey="POST_CSS_TAG_NAME">input</info> {
    display: inline-block;
  }
  &__input {
    display: inline-block;
  }
}
