{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "desc",
  "Mappings": {
  "m00" : { "Key01" : { "Value" : "Value01" }},
  "m01" :{ "Key01" : { "Value" : "Value01" }},
  "m02" :{ "Key01" : { "Value" : "Value01" }},
  "m03" :{ "Key01" : { "Value" : "Value01" }},
  "m04" :{ "Key01" : { "Value" : "Value01" }},
  "m05" :{ "Key01" : { "Value" : "Value01" }},
  "m06" :{ "Key01" : { "Value" : "Value01" }},
  "m07" :{ "Key01" : { "Value" : "Value01" }},
  "m08" :{ "Key01" : { "Value" : "Value01" }},
  "m09" :{ "Key01" : { "Value" : "Value01" }},

  "m10" :{ "Key01" : { "Value" : "Value01" }},
  "m11" :{ "Key01" : { "Value" : "Value01" }},
  "m12" :{ "Key01" : { "Value" : "Value01" }},
  "m13" :{ "Key01" : { "Value" : "Value01" }},
  "m14" :{ "Key01" : { "Value" : "Value01" }},
  "m15" :{ "Key01" : { "Value" : "Value01" }},
  "m16" :{ "Key01" : { "Value" : "Value01" }},
  "m17" :{ "Key01" : { "Value" : "Value01" }},
  "m18" :{ "Key01" : { "Value" : "Value01" }},
  "m19" :{ "Key01" : { "Value" : "Value01" }},

  "m20" :{ "Key01" : { "Value" : "Value01" }},
  "m21" :{ "Key01" : { "Value" : "Value01" }},
  "m22" :{ "Key01" : { "Value" : "Value01" }},
  "m23" :{ "Key01" : { "Value" : "Value01" }},
  "m24" :{ "Key01" : { "Value" : "Value01" }},
  "m25" :{ "Key01" : { "Value" : "Value01" }},
  "m26" :{ "Key01" : { "Value" : "Value01" }},
  "m27" :{ "Key01" : { "Value" : "Value01" }},
  "m28" :{ "Key01" : { "Value" : "Value01" }},
  "m29" :{ "Key01" : { "Value" : "Value01" }},

  "m30" :{ "Key01" : { "Value" : "Value01" }},
  "m31" :{ "Key01" : { "Value" : "Value01" }},
  "m32" :{ "Key01" : { "Value" : "Value01" }},
  "m33" :{ "Key01" : { "Value" : "Value01" }},
  "m34" :{ "Key01" : { "Value" : "Value01" }},
  "m35" :{ "Key01" : { "Value" : "Value01" }},
  "m36" :{ "Key01" : { "Value" : "Value01" }},
  "m37" :{ "Key01" : { "Value" : "Value01" }},
  "m38" :{ "Key01" : { "Value" : "Value01" }},
  "m39" :{ "Key01" : { "Value" : "Value01" }},

  "m40" :{ "Key01" : { "Value" : "Value01" }},
  "m41" :{ "Key01" : { "Value" : "Value01" }},
  "m42" :{ "Key01" : { "Value" : "Value01" }},
  "m43" :{ "Key01" : { "Value" : "Value01" }},
  "m44" :{ "Key01" : { "Value" : "Value01" }},
  "m45" :{ "Key01" : { "Value" : "Value01" }},
  "m46" :{ "Key01" : { "Value" : "Value01" }},
  "m47" :{ "Key01" : { "Value" : "Value01" }},
  "m48" :{ "Key01" : { "Value" : "Value01" }},
  "m49" :{ "Key01" : { "Value" : "Value01" }},

  "m50" :{ "Key01" : { "Value" : "Value01" }},
  "m51" :{ "Key01" : { "Value" : "Value01" }},
  "m52" :{ "Key01" : { "Value" : "Value01" }},
  "m53" :{ "Key01" : { "Value" : "Value01" }},
  "m54" :{ "Key01" : { "Value" : "Value01" }},
  "m55" :{ "Key01" : { "Value" : "Value01" }},
  "m56" :{ "Key01" : { "Value" : "Value01" }},
  "m57" :{ "Key01" : { "Value" : "Value01" }},
  "m58" :{ "Key01" : { "Value" : "Value01" }},
  "m59" :{ "Key01" : { "Value" : "Value01" }},

    "m60" :{ "Key01" : { "Value" : "Value01" }},
    "m61" :{ "Key01" : { "Value" : "Value01" }},
    "m62" :{ "Key01" : { "Value" : "Value01" }},
    "m63" :{ "Key01" : { "Value" : "Value01" }},
    "m64" :{ "Key01" : { "Value" : "Value01" }},
    "m65" :{ "Key01" : { "Value" : "Value01" }},
    "m66" :{ "Key01" : { "Value" : "Value01" }},
    "m67" :{ "Key01" : { "Value" : "Value01" }},
    "m68" :{ "Key01" : { "Value" : "Value01" }},
    "m69" :{ "Key01" : { "Value" : "Value01" }},

    "m70" :{ "Key01" : { "Value" : "Value01" }},
    "m71" :{ "Key01" : { "Value" : "Value01" }},
    "m72" :{ "Key01" : { "Value" : "Value01" }},
    "m73" :{ "Key01" : { "Value" : "Value01" }},
    "m74" :{ "Key01" : { "Value" : "Value01" }},
    "m75" :{ "Key01" : { "Value" : "Value01" }},
    "m76" :{ "Key01" : { "Value" : "Value01" }},
    "m77" :{ "Key01" : { "Value" : "Value01" }},
    "m78" :{ "Key01" : { "Value" : "Value01" }},
    "m79" :{ "Key01" : { "Value" : "Value01" }},

    "m80" :{ "Key01" : { "Value" : "Value01" }},
    "m81" :{ "Key01" : { "Value" : "Value01" }},
    "m82" :{ "Key01" : { "Value" : "Value01" }},
    "m83" :{ "Key01" : { "Value" : "Value01" }},
    "m84" :{ "Key01" : { "Value" : "Value01" }},
    "m85" :{ "Key01" : { "Value" : "Value01" }},
    "m86" :{ "Key01" : { "Value" : "Value01" }},
    "m87" :{ "Key01" : { "Value" : "Value01" }},
    "m88" :{ "Key01" : { "Value" : "Value01" }},
    "m89" :{ "Key01" : { "Value" : "Value01" }},

    "m90" :{ "Key01" : { "Value" : "Value01" }},
    "m91" :{ "Key01" : { "Value" : "Value01" }},
    "m92" :{ "Key01" : { "Value" : "Value01" }},
    "m93" :{ "Key01" : { "Value" : "Value01" }},
    "m94" :{ "Key01" : { "Value" : "Value01" }},
    "m95" :{ "Key01" : { "Value" : "Value01" }},
    "m96" :{ "Key01" : { "Value" : "Value01" }},
    "m97" :{ "Key01" : { "Value" : "Value01" }},
    "m98" :{ "Key01" : { "Value" : "Value01" }},
    "m99" :{ "Key01" : { "Value" : "Value01" }},

    "m100" :{ "Key01" : { "Value" : "Value01" }}
  },

  "Resources": {}
}
