{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "desc",
  "Parameters": {
    "p00" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p01" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p02" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p03" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p04" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p05" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p06" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p07" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p08" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p09" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },

    "p10" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p11" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p12" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p13" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p14" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p15" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p16" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p17" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p18" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p19" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },

    "p20" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p21" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p22" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p23" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p24" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p25" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p26" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p27" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p28" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p29" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },

    "p30" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p31" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p32" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p33" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p34" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p35" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p36" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p37" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p38" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p39" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },

    "p40" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p41" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p42" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p43" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p44" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p45" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p46" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p47" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p48" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p49" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },

    "p50" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p51" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p52" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p53" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p54" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p55" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p56" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p57" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p58" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },
    "p59" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     },

    "p60" : {       "Type" : "Number",       "Default" : "10",       "MinValue" : "1"     }
  },

  "Resources": {}
}
