{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "desc",
  "Parameters": {
  },

  "Resources": {
    "AAA": {
      "Type": "AWS::ElasticBeanstalk::Application",
      "Properties": {
        "<caret>": "SampleAWSElasticBeanstalkApplication",
        "Description": "aaa",
        "ConfigurationTemplates": "aaa"
      }
    }
  }
}