{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "desc",
  "Resources": {
    "RDSInstanceS1": {
      "Type": "AWS::RDS::DBInstance",
      "Properties": {
        "DBInstanceClass": "XX",
        "SourceDBInstanceIdentifier": "XX"
      }
    }
  }
}
