{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "desc",
  "Parameters": {
  },

  "Resources": {
    "XXX": {
      "Type": "AWS::ElastiCache::CacheCluster"
    },

    "AAA": {
      "Type": "AWS::ElasticBeanstalk::Application",
      "Properties": {
        "Description": {
          "Fn::GetAtt": [
              "XXX", "<caret>"
          ]
        },
        "ConfigurationTemplates": "aaa"
      }
    }
  }
}