// comment
 a
  b
   c
  d
 e
f

//- comment2
  a
     b
      c
     d
    e
   f
  g
 h

div
    foo.
         a
          b
           c
          d
         e
        f
       h
      i
     k
    l
   m