foraa
eachaa
ifaa
elseaa
caseaa
whenaa
defaultaa
extendsaa
includeaa
mixinaa
yieldaa
tag&attributesaa

for$aa
each$aa
if$aa
else$aa
case$aa
when$aa
default$aa
extends$aa
include$aa
mixin$aa
yield$aa
tag&attributes$aa

for(a='b')
each(a='b')
if(a='b')
else(a='b')
case(a='b')
when(a='b')
default(a='b')
extends(a='b')
include(a='b')

for (a='b')
each (a='b')
if (a='b')
else (a='b')
case (a='b')
when (a='b')
default (a='b')
extends (a='b')
include (a='b')