:barkdown
  # Markdown

  Some markdown content

:strangelang
  Super{Syntax}$@()#U%U@#%*zx/,c;'

tag
  tag
    :filterintag
      Something
    :filter1
    :filter2
      Previous was empty


script
  :cofoscript
      math =
          square: (value) ->
              value * value

script.
  :cofoscript
        math =
            square: (value) ->
                value * value

style
  :more
    @pad: 15px;

style.
  :more
    @pad: 15px;

tratata
  tututu
    | content in here