- function a(parameters) {
-   var x = parameters.x;
-   return x;
- }


div
    - if (true)
        div
    - else
        span
    - if (1 + 1 == 2)
        div
    - else
        span
    div

- var func = function(qwe) {
-       return qwe * qwe;
- };

- var anotherFunc = function(param) {
-   return param.param;
- }
