mixin my_mixin
  div&attributes(attributes)

mixin my_mixin()
  div&attributes(attributes)

mixin my_mixin(arg1, arg2)
  div&attributes(attributes)

mixin my_mixin(arg1='foo()', arg2=(12+{foo: 12}))
  div&attributes(attributes)

mixin SomeComponent({title='title', subtitle='subtitle'})
  div&attributes(attributes)

body
  +my_mixin
  + my_mixin
  mixin my_mixin

  +my_mixin(1, 2)
  mixin my_mixin(1, 2)