title = 'SignUp'
user = { picture: 'url', email: 'a@b.com', available:true, name: 'name' }
ul.nav.navbar-nav.navbar-right
    if !user
        li(class=title == 'SignUp' ? 'active' : undefined attr=value)