<my-comp ref-a="foo" ref-b="bar" ref-c></my-comp>
<my-comp foo-comp ref-<error descr="There are multiple directives with 'exportAs' set to 'foo': MyComponent (my-comp) and MyComponent2 ([foo-comp])">a</error>="foo"></my-comp>
<my-comp foo-dir #<error descr="There are multiple directives with 'exportAs' set to 'foo': MyComponent (my-comp) and MyDirective ([foo-dir])">a</error>="foo"></my-comp>
<div #<weak_warning descr="There is no directive with 'exportAs' set to 'foo'">abc</weak_warning>="foo"></div>
<div foo-dir ref-<weak_warning descr="There is no directive with 'exportAs' set to 'bar'">a</weak_warning>="bar"></div>